.form {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 0.5em 1em;
  max-width: 700px;
  min-width: 500px;
  border-radius: 25px;
  background: #1b263b;
}

.textareaContainer {
  display: flex;
  align-items: center;
}

.textarea {
  resize: none;
  field-sizing: content;
  min-height: 2rem;
  max-height: 10rem;
  width: 100%;
  overflow-y: auto;
  font-family: inherit;
  color: inherit;
  padding: 1em 2em;
  background: #1b263b;
  border: none;
}

.textarea::placeholder {
  color: #778da9;
}

.textarea:focus {
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: #e0e1dd;
  padding: 0.45em;
  border: none;
  border-radius: 50%;
  transform: translateY(-10%);
  cursor: pointer;
}

.submitButton:hover {
}
