.formContainer {
  width: 100%;
  padding: 0 1em;
}

.form {
  position: sticky;
  z-index: 9000;
  bottom: 1em;
  padding: 0.5em 1em;
  width: calc(75% - 2em);
  margin: 0 auto;
  border-radius: 25px;
  background: #1b263b;
  box-shadow: 0px 0px 50px 10px #1b263b;
}

.textareaContainer {
  display: flex;
  align-items: center;
}

.textarea {
  font-size: 1rem;
  resize: none;
  field-sizing: content;
  min-height: 2rem;
  max-height: 10rem;
  width: 100%;
  overflow-y: auto;
  font-family: inherit;
  color: inherit;
  padding: 1em 2em;
  background: #1b263b;
  border: none;
}

.textarea::placeholder {
  font-size: 1rem;
  color: #778da9;
}

.textarea:focus {
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: #e0e1dd;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  transform: translateY(-18%);
  cursor: pointer;
}

.submitButton:disabled {
  opacity: 0.25;
}

.submitButton:disabled:hover {
  background: #e0e1dd;
}

.submitButton:hover,
.submitButton:focus {
  background: #778da9;
}

.pending {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 0.4em;
  background: #e0e1dd;
  border-radius: 50%;
  transform: translateY(-18%);
  color: #1b263b;
}
