.chatBotSection {
  margin: 0 auto;
  max-width: 700px;
  min-width: 500px;
}

.messagesDisplay {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
  padding: 2em;
  margin: 0;
}

.userMessage {
  align-self: flex-end;
  background: #1b263b;
  padding: 1em;
  border-radius: 15px 5px 15px 5px;
}

.systemMessage {
  background: #415a77;
  padding: 1em;
  border-radius: 5px 15px 5px 15px;
}
