:root {
  font-family: 'Raleway', sans-serif;
  color: #e0e1dd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  background: #0d1b2a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
